<?xml version="1.0" encoding="utf-8"?>
<Media Key="5180631b-4913-49b4-99dd-9ec19634a9dc" Alias="background_new1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/background_new1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-07T08:39:19</CreateDate>
    <NodeName Default="background_new1.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ssunnz10/background_new1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>