<?xml version="1.0" encoding="utf-8"?>
<Media Key="15790325-9cb7-4660-baf9-5065bb89f8c9" Alias="Bok.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bokjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-07T08:11:59</CreateDate>
    <NodeName Default="Bok.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vled5i44/bok.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>