<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d3aa48c-0190-464d-8d1b-c597d2b70f90" Alias="Bok.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bokpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-05T19:36:32</CreateDate>
    <NodeName Default="Bok.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/anxhzs5z/bok.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>