<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d330bc1a-a13b-44c0-80bb-412ea22a5255" Alias="contactUsPage" Level="2">
  <Info>
    <Name>Contact Us Page</Name>
    <Icon>icon-phone-ring</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="017f7bda-80eb-461f-a1cf-df26072793c3">contentComposition</Composition>
    </Compositions>
    <DefaultTemplate>ContactUsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019c2f4c-c00b-78cb-be4d-8dfac7b2e1a2">ContactUsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>