<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="257207fe-c90c-4eee-9f89-a7a5f53df19f" Alias="generalContentPage" Level="2">
  <Info>
    <Name>General Content Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="017f7bda-80eb-461f-a1cf-df26072793c3">contentComposition</Composition>
    </Compositions>
    <DefaultTemplate>GeneralContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019c2f48-c016-7df0-b7e5-7b2778cf5d70">GeneralContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>