<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d6dfdda4-360d-47f5-8a01-d72819eebef4" Alias="Content Composition - Main Content - Block Grid" Level="1">
  <Info>
    <Name>Content Composition - Main Content - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8ac11dba-991d-46ea-9665-baa241b0318d",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>