<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58cfbc00-cb14-4f05-bfc6-cd8174605bf4" Alias="Content Composition - Page Header - Block Grid" Level="1">
  <Info>
    <Name>Content Composition - Page Header - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "73964c96-faa2-481f-b5ef-1a16727eb90b",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d97828b4-4bf0-44f2-a48a-7447e89f29eb",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>