<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d69766a-754b-442c-a023-162b4c9f4290" Alias="Bluegrass" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bluegrass</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2026-02-05T19:23:20</CreateDate>
    <NodeName Default="Bluegrass" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c464fcbe-7c0f-4220-8e2b-c770c06c381e">HomePage</Template>
  </Info>
  <Properties>
    <footerText>
      <Value><![CDATA[© 2026 Your Company. All rights reserved.]]></Value>
    </footerText>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "8cbd77bd-26a8-4621-bf75-8bbae0bc5ec4",
    "mediaKey": "0ad3d69f-87ac-445c-be1f-252d7a977823",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
    <headerMenu>
      <Value><![CDATA[[
  {
    "name": "Content page",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": "umb://document/f309667d17cf459daa89b4c4fe3cd400",
    "url": null,
    "queryString": null
  },
  {
    "name": "Contact",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": "umb://document/78c43639d9d84fa9ab89e2f0a97512cf",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </headerMenu>
    <siteName>
      <Value><![CDATA[Bluegrass Website]]></Value>
    </siteName>
  </Properties>
</Content>